.layout {
  height: 100dvh;
  width: 100dvw;
  background-color: #ffffff;
  background-image: radial-gradient(#9d9c9c 20%, transparent 30%);
  background-size: 3px 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.test {
  background-color: red;
}

.container {
  width: 85%;
  background-color: white;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.073);
}

.list_container {
  max-height: 14rem;
  overflow-y: auto;
  overflow-x: hidden;
  transition: height 2s ease;
  z-index: -1;
}

.list_container::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.list_container::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.list_container::-webkit-scrollbar-thumb {
  background-color: #030303;
  border-radius: 10px;
  border: 1px solid #c1c1c1;
  cursor: grab;
}

.list_container::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

.list_container::-webkit-scrollbar-thumb:active {
  background-color: rgb(79, 79, 233);
}

.bottom_container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 20px 14px 20px;
  width: 100%;
}

@media (min-width: 525px) {
  .container {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 45%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 35%;
  }
}
