.app {
   height: 100dvh;
   display: flex;
   align-items: center;
   overflow: hidden;
   justify-content: center;
}

.circle-container {
    width: 36rem;
    height: 36rem;
    border-radius: 50%;
    border: 1px dashed #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    
}

.circle-image {
  width:5rem;
  height: 5rem;
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 0;
  transition: transform 1s ease-in-out;
}


.circle-img {
  max-width: 100%;
}

  

  